**

!staking_client
!staking_client/**
!package.json
!package-lock.json
!target
!target/idl
!target/idl/**
!target/types
!target/types/**

staking_client/.next
staking_client/node_modules
staking_client/dist
staking_client/build
staking_client/.git
staking_client/.env
staking_client/.env.*
staking_client/*.log
staking_client/pnpm-store
